@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900')

html
    scroll-behavior: smooth

body
    margin: 0
    padding: 0

html, body
    width: 100%
    height: 100%
    background: #fff
    color: #000
    font-size: 10px
    font-family: 'Montserrat', sans-serif

*
    box-sizing: border-box
    hyphens: auto

*, ::after, ::before
    transition-timing-function: cubic-bezier(0.69, 0, 0, 1) !important
    animation-timing-function: cubic-bezier(0.69, 0, 0, 1) !important


::selection
    color: #fff
    background: #141414
    text-shadow: none

.wrapper
    max-width: 155rem
    margin: 0 auto
    padding: 0 1rem

.error-root 
    position: relative
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100vh
    font-size: 2.5rem
    font-weight: 600

button
    font-size: 1.6rem
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    padding: 1.25rem 6rem
    border: .175rem rgba(110,166,46,.5) solid
    background-color: #236500
    color: #fff
    transition: all .25s cubic-bezier(0.65, 0.05, 0.36, 1)

button:hover
    background-color: #143900
    cursor: pointer

a 
    text-decoration: none
    color: #ff1a45
    position: relative

a:hover::after 
    transform: scaleX(1)
    transform-origin: right

a::after 
    content: ""
    position: absolute
    bottom: -4px
    left: 0
    width: 100%
    height: 2px
    background-color: #ff1a45
    transition: transform .5s cubic-bezier(0.65, 0.05, 0.36, 1)
    transform: scaleX(0)
    transform-origin: left

/* Make clicks pass-through */
#nprogress
    pointer-events: none


#nprogress .bar
    background: #ff1a45

    position: fixed
    z-index: 1031
    top: 0
    left: 0

    width: 100%
    height: 2px

/* Fancy blur effect */
#nprogress .peg
    display: block
    position: absolute
    right: 0px
    width: 100px
    height: 100%
    box-shadow: 0 0 10px #ff1a45, 0 0 5px #ff1a45
    opacity: 1.0

    -webkit-transform: rotate(3deg) translate(0px, -4px)
      -ms-transform: rotate(3deg) translate(0px, -4px)
          transform: rotate(3deg) translate(0px, -4px)

.page-transition-enter
    opacity: 0
    transform: translate3d(0, 2rem, 0)

.page-transition-enter-active 
    opacity: 1
    transform: translate3d(0, 0, 0)
    transition: opacity 750ms  cubic-bezier(.86,0,.07,1), transform 750ms  cubic-bezier(.86,0,.07,1)
          
.page-transition-exit 
    opacity: 1
          
.page-transition-exit-active
    opacity: 0
    transition: opacity 750ms  cubic-bezier(.86,0,.07,1)

.bar-wrapper--big
  width: .1rem
  height: 7.5rem
  position: absolute
  left: calc(50% - .2rem)
  -webkit-transform: translateX(-50%)
  transform: translateX(-50%)
  margin-top: 0
  cursor: pointer
  bottom: 2.14286rem
  left: calc(50% - .1rem)
  z-index: 100

.bar--big-whitespace
  margin: 0 auto
  overflow: hidden
  z-index: 1

.bar--big-line 
  background-color: #141414
  left: 0
  top: 0
  -webkit-animation: slide-big-down 2s steps(100) infinite
  animation: slide-big-down 2s steps(100) infinite

.bar--big-line, .bar--big-whitespace
  height: 100%
  width: 100%
  position: absolute

@-webkit-keyframes slide-big-down 
  0%
    -webkit-transform: translateY(-100%)
    transform: translateY(-100%)
  to 
    -webkit-transform: translateY(100%)
    transform: translateY(100%)

@keyframes slide-big-down 
  0%
    -webkit-transform: translateY(-100%)
    transform: translateY(-100%)
  to
    -webkit-transform: translateY(100%)
    transform: translateY(100%)

/* Header */

.global-nav
    width: 100%
    height: 9rem
    display: block
    position: fixed
    background: transparent
    color: #141414
    line-height: 9rem
    font-size: 1.4rem
    -webkit-transition: all .5s cubic-bezier(.65, .05, .36, 1)
    transition: all .5s cubic-bezier(.65, .05, .36, 1)
    z-index: 800
    font-weight: 500

.global-nav .logo-uweb 
    width: 9rem
    height: 9rem
    display: block
    text-align: center
    background: #141414
    font-size: 2.5rem
    color: #fff
    font-weight: 600
    float: left
    z-index: 750

.global-nav .logo-uweb::after 
    content: none

.menu-button
    width: 9rem
    height: 9rem
    position: relative
    float: right
    display: flex
    justify-content: center
    align-items: center
    background: #fafafa
    transition: all .25s cubic-bezier(.65, .05, .36, 1)

#menu-mobile
    width: 100%
    height: 0
    position: absolute
    z-index: 500
    background: #EDEDED
    display: block
    overflow: hidden
    transition: all .5s cubic-bezier(.65, .05, .36, 1)

#menu-mobile .menu
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    position: absolute
    text-align: center
    font-weight: 600
    text-transform: uppercase
    font-size: 2.5rem

#menu-mobile .menu ul
    list-style: none
    padding: 0
    margin: 0

#menu-mobile .menu ul li
    margin: .5rem 0

#menu-mobile .menu ul li a
    color: #141414

#menu-mobile .menu ul li a::after
    background-color: #141414

.menu-button::after
    content: none

.menu-button-change::after
    content: none

.menu-button:hover
    cursor: pointer

.menu-button:hover .mid
    transform: scaleX(0.5)

.menu-button div
    background: #141414
    height: .2rem
    width: 5rem
    margin: 1rem 0
    display: block
    position: relative
    transition: all .25s cubic-bezier(.65, .05, .36, 1)

.menu-button-change
    width: 9rem
    height: 9rem
    position: relative
    float: right
    display: flex
    justify-content: center
    align-items: center
    background: #fafafa
    transition: all .25s cubic-bezier(.65, .05, .36, 1)
    z-index: 750

.menu-button-change:hover
    cursor: pointer

.menu-button-change div
    background: #141414
    height: .2rem
    width: 5rem
    margin: 0
    display: block
    position: relative
    transition: all .25s cubic-bezier(.65, .05, .36, 1)

.menu-button-change span .top
    -webkit-transform: rotate(45deg) translate(0,0)
    transform: rotate(45deg) translate(0,0)

.menu-button-change span .bot
    -webkit-transform: rotate(-45deg) translate(0,0)
    transform: rotate(-45deg) translate(0,0)

.sitemap
    width: 100%
    height: 9rem
    position: absolute
    display: block
    bottom: 0
    padding: 0 2.5rem

.sitemap .copyright
    float: left
    font-weight: 700

.sitemap nav
    float: right
    display: block

.sitemap nav a
    color: #141414
    margin: 0 1rem

.sitemap nav a::after
    background: #141414

.hero-frontpage
    width: 100%
    height: 100vh
    position: relative
    display: block

.hero-frontpage-recht
    width: 100%
    height: auto
    position: relative
    display: block
    padding: 0 0 7.5rem 0

.hero-frontpage .text-front
    width: 100%
    height: 100%
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    color: #fff

.hero-frontpage .text-front h1
    font-size: 5rem
    margin: 2rem 0
    padding: 0

.hero-frontpage .text-front p
    font-size: 1.5rem
    font-weight: 500
    padding: 0
    margin: .5rem 0

.hero-frontpage .bg-front
    width: 100%
    height: 100%
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.25), rgba(20, 20, 20, 0.25)), url("https://api.uwe-barthel.net/cdn/images/heros/3-02.png")
    background-position: top
    background-size: cover

.hero-frontpage .text-about
    width: 100%
    height: 100%
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    color: #141414

.hero-frontpage .text-recht
    width: 100%
    height: 100%
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    text-align: left
    color: #141414

.hero-frontpage .text-about h1
    font-size: 5rem
    margin: 2rem 0
    padding: 0

.hero-frontpage .text-about p
    font-size: 1.5rem
    font-weight: 500
    padding: 0
    margin: .5rem 0

.hero-frontpage .text-recht h1
    font-size: 5rem
    margin: 2rem 0
    padding: 0

.hero-frontpage .text-recht h2
    font-size: 4rem
    margin: 2rem 0
    padding: 0

.hero-frontpage .text-recht h3
    font-size: 3rem
    margin: 2rem 0
    padding: 0

.hero-frontpage .text-recht p
    font-size: 1.5rem
    font-weight: 500
    padding: 0
    margin: .5rem 0

.hero-frontpage-recht .text-recht h1
    font-size: 5rem
    margin: 2rem 0
    padding: 0

.hero-frontpage-recht .text-recht h2
    font-size: 4rem
    margin: 2rem 0
    padding: 0

.hero-frontpage-recht .text-recht h3
    font-size: 3rem
    margin: 2rem 0
    padding: 0

.hero-frontpage-recht .text-recht p
    font-size: 1.5rem
    font-weight: 500
    padding: 0
    margin: .5rem 0

.hero-frontpage-recht .text-recht ul
    font-size: 1.5rem
    font-weight: 500

.hero-frontpage .text-about div
    margin: 0 2.5rem

.hero-frontpage .text-about .logo
    width: 35rem
    display: inline-block
    text-align: center
    padding: 5rem 0

.hero-frontpage .text-about .buchstaben
    width: 25rem
    display: inline-block
    text-align: center
    padding: 5rem 0

.hero-frontpage .bg-about
    width: 100%
    height: 100%
    background-image: radial-gradient(circle, #DDD, #DDD 1.5px, #FFF 1.5px, #FFF)
    background-size: 5rem 5rem

.big-book
    position: relative

.big-book .book
    width: 100%
    height: 50rem
    display: flex
    align-items: center
    justify-content: center
    margin: 2.5rem 0
    position: relative
    transition: all .25s cubic-bezier(.65, .05, .36, 1)
    text-shadow: .25rem .5rem 1rem rgba(0,0,0,.5)

.big-book .book h1
    color: #fff
    z-index: 25
    font-size: 3rem

.big-book .book::before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #141414
    transition: transform .5s cubic-bezier(0.65, 0.05, 0.36, 1)
    transform: scaleY(0)
    transform-origin: bottom

.big-book .book:hover::before
    transform: scaleY(1)
    transform-origin: top

.big-book .book::after
    content: none

.book.ib-barthel
    background: linear-gradient(to bottom, rgba(20, 20, 20, .1), rgba(20, 20, 20, .1)), url("https://api.uwe-barthel.net/cdn/images/body/ib-barthel.png")
    background-position: top
    background-size: cover

.book.sv-h
    background: linear-gradient(to bottom, rgba(20, 20, 20, .1), rgba(20, 20, 20, .1)), url("https://api.uwe-barthel.net/cdn/images/body/sv-hohenfichte.jpg")
    background-position: top
    background-size: cover

.book.l-tec
    background: linear-gradient(to bottom, rgba(20, 20, 20, .1), rgba(20, 20, 20, .1)), url("https://api.uwe-barthel.net/cdn/images/body/survivel.jpg")
    background-position: top
    background-size: cover